@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
    color: #FFA500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: rgb(34, 35, 39);
}

.nav {
    width: 480px;
    height: 70px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.menu-box {
    display: flex;
    width: 430px;
}

.current {
    transform: translateY(-7px);
    color: rgb(34, 35, 39);
}

.links {
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.links a {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 20px;
    font-size: 25px;

}

.fa {
    color: rgb(34, 35, 39);
    line-height: 75px;
    position: relative;
    display: block;
    font-size: 1.5em;
    transition: 1s;
    text-align: center;   
}

.links:hover a .fa {
    transform: translateY(-20px);
}

.name {
    position: absolute;
    color: transparent;    
    font-size: 0.75rem;
    transition: 1s;
}

.links:hover .name {
    position: absolute;
    color: rgb(34, 35, 39);
    font-size: 0.75rem;
    transition: 1s;
}

.highlight {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #FFA500;
    top: -40%;
    margin-left: 360px;
    margin-top: 25px;
    border-radius: 50%;
}

.current {
    transform: translateY(-10px);
}

.current:hover {
    transform: translateY(7px);
}

.home {
    transform: translateY(10px);
}



/* Game */
.tetris {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    border: 3px solid orange;
    margin-top: 30px;
    background-color: pink;
}

.game-area {
    background-color: white;
    display: block;
    margin: 5px;
    border: 2px red solid;    
}

.game-box {
    margin: 5px;
}

.tile {
    background-color: black;
    margin: 2px;
}

.gameinfo {
    width: 300px;
    margin: 10px;
    border: red 2px solid;
    padding: 10px;
    background-color: black;
}

.gameinfo, h1 {
    color: red;
}

.title {
    margin-top: 50px;
}

#tetris-title {
    width: 280px;
}

.next-shape {
    width: 200px;
    height: 200px;
    border: 5px pink solid;
}

.score-box {
    border: 2px white solid;
}

.score-amount {
    color: white;
    margin-left: 10px;
    font-size: 50px;
}

.controls {
    color: white;
}

.control-fa {
    color: white;
    margin-right: 5px;
}




/* Footer */

footer  {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box {    
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

footer .fa {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.author {
    color: red;
}