@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(34, 35, 39);
}

.nav {
    width: 480px;
    height: 70px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.menu-box {
    display: flex;
    width: 430px;
}

.current {
    transform: translateY(-15px);
}

.current:hover {
    transform: none;
}

.home {
    transform: translateY(14.5px);
}

.links {
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.links a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.fa {
    color: rgb(34, 35, 39);
    line-height: 75px;
    position: relative;
    display: block;
    font-size: 1.5em;
    transition: 1s;
    text-align: center;   
}

.links:hover a .fa {
    transform: translateY(-20px);
}

.name {
    position: absolute;
    color: transparent;    
    font-size: 0.75rem;
    transition: 1s;
}



.links:hover .name {
    position: absolute;
    color: rgb(34, 35, 39);
    font-size: 0.75rem;
    transition: 1s;
}

.highlight {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #FFA500;
    top: -40%;
    margin-left: 220px;
    margin-top: 30px;
    border-radius: 50%;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}