@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #FFA500;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(34, 35, 39);
}

.nav {
    width: 480px;
    height: 70px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.menu-box {
    display: flex;
    width: 430px;
}

.links {
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.links a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.icons {
    color: rgb(34, 35, 39);
    line-height: 75px;
    position: relative;
    display: block;
    font-size: 1.5em;
    transition: 1s;
    text-align: center;   
}

.links:hover a .icons {
    transform: translateY(-20px);
}

.name {
    position: absolute;
    color: transparent;    
    font-size: 0.75rem;
    transition: 1s;
}

.links:hover .name {
    position: absolute;
    color: rgb(34, 35, 39);
    font-size: 0.75rem;
    transition: 1s;
}

/* Game */

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid blue;
    width: 400px;
}

.game h1 {
    margin-top: 20px;
}

.game-box {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picks {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.computer {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player h1, .computer h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.picks .fa {
    color: red;
    font-size: 100px;
}

.choices {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    color: red;
}

.choices a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 50px;
}
.message {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


footer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-box {    
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

footer .fa {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.author {
    color: red;
}